apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    operator: varnish
    varnish-component: proxy-sidecar-configmap
    varnish-owner: varnishcluster-example
  name: proxy-sidecar-config
data:
  haproxy.cfg: |+
    global
      daemon
      maxconn 64
      log stdout format raw daemon

    defaults
      log global
      mode http
      timeout connect 5000ms
      timeout client 50000ms
      timeout server 50000ms

    frontend stats
      bind *:8404
      option http-use-htx
      http-request use-service prometheus-exporter if { path /metrics }
      stats enable
      stats uri /stats
      stats refresh 10s

    frontend localhost
      # Only bind on 80 if you also want to listen for connections on 80
      bind *:8080
      mode tcp
      option tcplog
      default_backend nodes

    backend nodes
      mode http
      balance roundrobin
      http-response set-header Strict-Transport-Security max-age=31536000
      http-request set-header Host api.mapbox.com
      server mb01 api.mapbox.com:443 ssl sni str(api.mapbox.com) verify none
