apiVersion: caching.ibm.com/v1alpha1
kind: VarnishCluster
metadata:
  labels:
    app: varnish
  name: {{ .Release.Name }}-varnish
  namespace: {{ .Release.Namespace }}
spec:
  vcl:
    configMapName: {{ .Release.Name }}-vcl-files
    entrypointFileName: entrypoint.vcl
  backend:
    selector:
      app: backend
    port: backend
  service:
    port: 80
  monitoring:
    prometheusServiceMonitor:
      enabled: true
      scrapeInterval: 35s
      labels:
        app: varnish
    grafanaDashboard:
      enabled: true
      datasourceName: Prometheus-varnish