name: Containers

on:
  release:
    types:
      - created
  push:
    branches-ignore:
      - gh-pages

jobs:
  operator:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF##*/}
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME}}
          password: ${{ secrets.DOCKERHUB_PASSWORD}}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          tags: ibmcom/varnish-operator:${{ steps.get_version.outputs.VERSION }}
          file: ./Dockerfile
          push: ${{ github.event_name == 'release' && github.event.action == 'created' }} #push only on release
  varnishd:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF##*/}
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME}}
          password: ${{ secrets.DOCKERHUB_PASSWORD}}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          tags: ibmcom/varnish:${{ steps.get_version.outputs.VERSION }}
          file: ./Dockerfile.varnishd
          push: ${{ github.event_name == 'release' && github.event.action == 'created' }}
  varnish-controller:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF##*/}
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME}}
          password: ${{ secrets.DOCKERHUB_PASSWORD}}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          tags: ibmcom/varnish-controller:${{ steps.get_version.outputs.VERSION }}
          file: ./Dockerfile.controller
          push: ${{ github.event_name == 'release' && github.event.action == 'created' }}
  varnish-metrics-exporter:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF##*/}
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME}}
          password: ${{ secrets.DOCKERHUB_PASSWORD}}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          tags: ibmcom/varnish-metrics-exporter:${{ steps.get_version.outputs.VERSION }}
          file: ./Dockerfile.exporter
          push: ${{ github.event_name == 'release' && github.event.action == 'created' }}
