name: Docs

on:
  release:
    types:
      - created

jobs:
  docs:
    runs-on: ubuntu-latest
    container:
      image: node:10.16-jessie
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: install gitbook
        run: npm install -g gitbook-cli@2.3.2
      - name: build docs
        run: |
          gitbook install ./docs
          gitbook build ./docs docs_generated --log=debug --debug
          cd docs_generated/
          git init
          git add .
          git config --local user.name \"Tomash Sidei\"
          git config --local user.email \"tomash.sidei@ibm.com\"
          git commit -m "Deploy Docs from Actions"
          git push --force --quiet https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:gh-pages
