name: end-to-end tests

on: pull_request

jobs:

  kube1_18:
    name: End to end tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Get dependencies
        run: go mod download
      - name: build images
        run: |
          docker build -f Dockerfile -t ibmcom/varnish-operator:local .
          docker build -f Dockerfile.varnishd -t ibmcom/varnish:local .
          docker build -f Dockerfile.controller -t ibmcom/varnish-controller:local .
          docker build -f Dockerfile.exporter -t ibmcom/varnish-metrics-exporter:local .
      - name: Create k8s Kind Cluster v1.20.7
        uses: helm/kind-action@v1.2.0
        with:
          version: v0.11.1
          cluster_name: e2e-tests
          node_image: kindest/node:v1.20.7@sha256:4c68efafa97d278a75a5b4677fb27e4986b03301739f1f87575af32202da9cfe
      - name: create namespace
        run: kubectl create namespace varnish-operator
      - name: load images
        run: |
          kind load --name e2e-tests docker-image ibmcom/varnish-operator:local
          kind load --name e2e-tests docker-image ibmcom/varnish:local
          kind load --name e2e-tests docker-image ibmcom/varnish-controller:local
          kind load --name e2e-tests docker-image ibmcom/varnish-metrics-exporter:local
      - name: install operator
        id: helm
        run: helm install varnish-operator --debug --namespace=varnish-operator varnish-operator --wait --set container.imagePullPolicy=Never --set container.image=ibmcom/varnish-operator:local
      - name: run tests
        run: go test -count=1 ./tests #-count=1 is to disable tests caching.
      - name: delete cluster
        run: kind delete cluster --name=e2e-tests
      - name: Create k8s Kind Cluster 1.19.11
        uses: helm/kind-action@v1.2.0
        with:
          version: v0.11.1
          cluster_name: e2e-tests
          node_image: kindest/node:v1.19.11@sha256:558780c13d9736d9ba55fa695a5bb8f403a53e42b95bea54fbdc4712181f5e3f
      - name: create namespace
        run: kubectl create namespace varnish-operator
      - name: load images
        run: |
          kind load --name e2e-tests docker-image ibmcom/varnish-operator:local
          kind load --name e2e-tests docker-image ibmcom/varnish:local
          kind load --name e2e-tests docker-image ibmcom/varnish-controller:local
          kind load --name e2e-tests docker-image ibmcom/varnish-metrics-exporter:local
      - name: install operator
        run: helm install varnish-operator --namespace=varnish-operator varnish-operator --wait --set container.imagePullPolicy=Never --set container.image=ibmcom/varnish-operator:local
      - name: run tests
        run: go test -count=1 ./tests
      - name: delete cluster
        run: kind delete cluster --name=e2e-tests
      - name: Create k8s Kind Cluster v1.18.15
        uses: helm/kind-action@v1.2.0
        with:
          version: v0.11.1
          cluster_name: e2e-tests
          node_image: kindest/node:v1.18.15@sha256:5c1b980c4d0e0e8e7eb9f36f7df525d079a96169c8a8f20d8bd108c0d0889cc4
      - name: create namespace
        run: kubectl create namespace varnish-operator
      - name: load images
        run: |
          kind load --name e2e-tests docker-image ibmcom/varnish-operator:local
          kind load --name e2e-tests docker-image ibmcom/varnish:local
          kind load --name e2e-tests docker-image ibmcom/varnish-controller:local
          kind load --name e2e-tests docker-image ibmcom/varnish-metrics-exporter:local
      - name: install operator
        run: helm install varnish-operator --namespace=varnish-operator varnish-operator --wait --set container.imagePullPolicy=Never --set container.image=ibmcom/varnish-operator:local
      - name: run tests
        run: go test -count=1 ./tests #-count=1 is to disable tests caching.
      - name: delete cluster
        run: kind delete cluster --name=e2e-tests
      - name: Create k8s Kind Cluster 1.17.5
        uses: helm/kind-action@v1.2.0
        with:
          version: v0.11.1
          cluster_name: e2e-tests
          node_image: kindest/node:v1.17.17@sha256:66f1d0d91a88b8a001811e2f1054af60eef3b669a9a74f9b6db871f2f1eeed00
      - name: create namespace
        run: kubectl create namespace varnish-operator
      - name: load images
        run: |
          kind load --name e2e-tests docker-image ibmcom/varnish-operator:local
          kind load --name e2e-tests docker-image ibmcom/varnish:local
          kind load --name e2e-tests docker-image ibmcom/varnish-controller:local
          kind load --name e2e-tests docker-image ibmcom/varnish-metrics-exporter:local
      - name: install operator
        run: helm install varnish-operator --namespace=varnish-operator varnish-operator --wait --set container.imagePullPolicy=Never --set container.image=ibmcom/varnish-operator:local
      - name: run tests
        run: go test -count=1 ./tests
      - name: delete cluster
        run: kind delete cluster --name=e2e-tests
      - name: Create k8s Kind Cluster 1.16.9
        uses: helm/kind-action@v1.2.0
        with:
          version: v0.11.1
          cluster_name: e2e-tests
          node_image: kindest/node:v1.16.15@sha256:83067ed51bf2a3395b24687094e283a7c7c865ccc12a8b1d7aa673ba0c5e8861
      - name: create namespace
        run: kubectl create namespace varnish-operator
      - name: load images
        run: |
          kind load --name e2e-tests docker-image ibmcom/varnish-operator:local
          kind load --name e2e-tests docker-image ibmcom/varnish:local
          kind load --name e2e-tests docker-image ibmcom/varnish-controller:local
          kind load --name e2e-tests docker-image ibmcom/varnish-metrics-exporter:local
      - name: helm version
        run: helm version
      - name: install operator
        run: helm install varnish-operator --namespace=varnish-operator varnish-operator --wait --set container.imagePullPolicy=Never --set container.image=ibmcom/varnish-operator:local
      - name: run tests
        run: go test -count=1 ./tests
