name: end-to-end tests

on: pull_request

jobs:

  kube1_18:
    name: End to end tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Get dependencies
        run: go mod download
      - name: build images
        run: |
          docker build -f Dockerfile -t ibmcom/varnish-operator:local .
          docker build -f Dockerfile.varnishd -t ibmcom/varnish:local .
          docker build -f Dockerfile.controller -t ibmcom/varnish-controller:local .
          docker build -f Dockerfile.exporter -t ibmcom/varnish-metrics-exporter:local .
      - name: Create k8s Kind Cluster v1.20.0
        uses: helm/kind-action@v1.1.0
        with:
          cluster_name: e2e-tests
          node_image: kindest/node:v1.20.0
      - name: create namespace
        run: kubectl create namespace varnish-operator
      - name: load images
        run: |
          kind load --name e2e-tests docker-image ibmcom/varnish-operator:local
          kind load --name e2e-tests docker-image ibmcom/varnish:local
          kind load --name e2e-tests docker-image ibmcom/varnish-controller:local
          kind load --name e2e-tests docker-image ibmcom/varnish-metrics-exporter:local
      - name: install operator
        id: helm
        run: helm install varnish-operator --debug --namespace=varnish-operator varnish-operator --wait --set container.imagePullPolicy=Never --set container.image=ibmcom/varnish-operator:local
      - name: run tests
        run: go test -count=1 ./tests #-count=1 is to disable tests caching.
      - name: delete cluster
        run: kind delete cluster --name=e2e-tests
      - name: Capture logs if e2e failed
        if: ${{ always() && steps.helm.outcome == 'failure' }}
        run: |
          mkdir ./kind-logs
          kind export logs ./kind-logs --name=e2e-tests
          tar -cvf kind-e2e-logs-1-20.tar ./kind-logs

      - name: Upload logs artifact
        if: ${{ always() && steps.e2e.outcome == 'failure' }}
        uses: actions/upload-artifact@v2
        with:
          name: kind-e2e-logs-1-20.tar
          path: kind-e2e-logs-1-20.tar
          retention-days: 7
      - name: Create k8s Kind Cluster 1.19.7
        uses: helm/kind-action@v1.1.0
        with:
          cluster_name: e2e-tests
          node_image: kindest/node:v1.19.7
      - name: create namespace
        run: kubectl create namespace varnish-operator
      - name: load images
        run: |
          kind load --name e2e-tests docker-image ibmcom/varnish-operator:local
          kind load --name e2e-tests docker-image ibmcom/varnish:local
          kind load --name e2e-tests docker-image ibmcom/varnish-controller:local
          kind load --name e2e-tests docker-image ibmcom/varnish-metrics-exporter:local
      - name: install operator
        run: helm install varnish-operator --namespace=varnish-operator varnish-operator --wait --set container.imagePullPolicy=Never --set container.image=ibmcom/varnish-operator:local
      - name: run tests
        run: go test -count=1 ./tests
      - name: delete cluster
        run: kind delete cluster --name=e2e-tests
      - name: Create k8s Kind Cluster v1.18.6
        uses: helm/kind-action@v1.1.0
        with:
          cluster_name: e2e-tests
          node_image: kindest/node:v1.18.6
      - name: create namespace
        run: kubectl create namespace varnish-operator
      - name: load images
        run: |
          kind load --name e2e-tests docker-image ibmcom/varnish-operator:local
          kind load --name e2e-tests docker-image ibmcom/varnish:local
          kind load --name e2e-tests docker-image ibmcom/varnish-controller:local
          kind load --name e2e-tests docker-image ibmcom/varnish-metrics-exporter:local
      - name: install operator
        run: helm install varnish-operator --namespace=varnish-operator varnish-operator --wait --set container.imagePullPolicy=Never --set container.image=ibmcom/varnish-operator:local
      - name: run tests
        run: go test -count=1 ./tests #-count=1 is to disable tests caching.
      - name: delete cluster
        run: kind delete cluster --name=e2e-tests
      - name: Create k8s Kind Cluster 1.17.5
        uses: helm/kind-action@v1.1.0
        with:
          cluster_name: e2e-tests
          node_image: kindest/node:v1.17.5
      - name: create namespace
        run: kubectl create namespace varnish-operator
      - name: load images
        run: |
          kind load --name e2e-tests docker-image ibmcom/varnish-operator:local
          kind load --name e2e-tests docker-image ibmcom/varnish:local
          kind load --name e2e-tests docker-image ibmcom/varnish-controller:local
          kind load --name e2e-tests docker-image ibmcom/varnish-metrics-exporter:local
      - name: install operator
        run: helm install varnish-operator --namespace=varnish-operator varnish-operator --wait --set container.imagePullPolicy=Never --set container.image=ibmcom/varnish-operator:local
      - name: run tests
        run: go test -count=1 ./tests
      - name: delete cluster
        run: kind delete cluster --name=e2e-tests
      - name: Create k8s Kind Cluster 1.16.9
        uses: helm/kind-action@v1.1.0
        with:
          cluster_name: e2e-tests
          node_image: kindest/node:v1.16.9
      - name: create namespace
        run: kubectl create namespace varnish-operator
      - name: load images
        run: |
          kind load --name e2e-tests docker-image ibmcom/varnish-operator:local
          kind load --name e2e-tests docker-image ibmcom/varnish:local
          kind load --name e2e-tests docker-image ibmcom/varnish-controller:local
          kind load --name e2e-tests docker-image ibmcom/varnish-metrics-exporter:local
      - name: helm version
        run: helm version
      - name: install operator
        run: helm install varnish-operator --namespace=varnish-operator varnish-operator --wait --set container.imagePullPolicy=Never --set container.image=ibmcom/varnish-operator:local
      - name: run tests
        run: go test -count=1 ./tests
