name: end-to-end tests

on: pull_request

jobs:

  kube1_18:
    name: End to end tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        kubernetes-version: [ "1.25", "1.24", "1.23", "1.22"]
        include:
        - kubernetes-version: "1.25"
          kind-node: kindest/node:v1.25.2@sha256:9be91e9e9cdf116809841fc77ebdb8845443c4c72fe5218f3ae9eb57fdb4bace
        - kubernetes-version: "1.24"
          kind-node: kindest/node:v1.24.6@sha256:97e8d00bc37a7598a0b32d1fabd155a96355c49fa0d4d4790aab0f161bf31be1
        - kubernetes-version: "1.23"
          kind-node: kindest/node:v1.23.12@sha256:9402cf1330bbd3a0d097d2033fa489b2abe40d479cc5ef47d0b6a6960613148a
        - kubernetes-version: "1.22"
          kind-node: kindest/node:v1.22.15@sha256:bfd5eaae36849bfb3c1e3b9442f3da17d730718248939d9d547e86bbac5da586
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ^1.19
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: Get dependencies
        run: go mod download
      - name: build images
        run: |
          docker build --platform linux/amd64,linux/arm64 -f Dockerfile -t ibmcom/varnish-operator:local .
          docker build --platform linux/amd64,linux/arm64 -f Dockerfile.varnishd -t ibmcom/varnish:local .
          docker build --platform linux/amd64,linux/arm64 -f Dockerfile.controller -t ibmcom/varnish-controller:local .
          docker build --platform linux/amd64,linux/arm64 -f Dockerfile.exporter -t ibmcom/varnish-metrics-exporter:local .
      - name: Create k8s Kind Cluster ${{ matrix.kubernetes-version }}
        uses: helm/kind-action@v1.3.0
        with:
          version: v0.14.0
          cluster_name: e2e-tests
          node_image: ${{ matrix.kind-node }}
          wait: 120s
      - name: create namespace
        run: kubectl create namespace varnish-operator
      - name: load images
        run: |
          kind load --name e2e-tests docker-image ibmcom/varnish-operator:local
          kind load --name e2e-tests docker-image ibmcom/varnish:local
          kind load --name e2e-tests docker-image ibmcom/varnish-controller:local
          kind load --name e2e-tests docker-image ibmcom/varnish-metrics-exporter:local
      - name: install operator
        id: helm
        run: helm install varnish-operator --debug --namespace=varnish-operator varnish-operator --wait --set container.imagePullPolicy=Never --set container.image=ibmcom/varnish-operator:local
      - name: run tests
        id: e2e
        run: go test -count=1 ./tests #-count=1 is to disable tests caching.
      - name: capture logs if e2e failed
        if: ${{ always() && (steps.e2e.outcome == 'failure' || steps.helm.outcome == 'failure') }}
        run: |
          mkdir ./kind-logs
          kind export logs ./kind-logs --name e2e-tests
          tar -cvf kind-e2e-logs-${{ matrix.kubernetes-version }}.tar ./kind-logs
      - name: upload kind logs artifact
        if: ${{ always() && (steps.e2e.outcome == 'failure' || steps.helm.outcome == 'failure') }}
        uses: actions/upload-artifact@v2
        with:
          name: kind-e2e-logs-${{ matrix.kubernetes-version }}.tar
          path: kind-e2e-logs-${{ matrix.kubernetes-version }}.tar
          retention-days: 7
      - name: upload e2e test logs artifact
        if: ${{ always() && steps.e2e.outcome == 'failure' }}
        uses: actions/upload-artifact@v2
        with:
          name: debug-logs-${{ matrix.kubernetes-version }}.tar
          path: /tmp/debug-logs/
          retention-days: 7
