name: Helm Chart

on:
  release:
    types:
      - created

jobs:
  helm-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Get Helm
        run: |
          curl -Lo ./helm.tar.gz https://get.helm.sh/helm-v2.16.9-linux-amd64.tar.gz
          mkdir -p bin
          tar -zxvf ./helm.tar.gz && mv linux-amd64/helm bin/
          rm helm.tar.gz
          rm -rf linux-amd64
      - name: Helm lint
        run: helm lint varnish-operator
      - name: Ensure helm-releases folder exists
        run: mkdir -p helm-releases
      - name: Change versions
        run: |
          GITTAG=${GITHUB_REF##*/}
          curl -Lo ./bin/yq https://github.com/mikefarah/yq/releases/download/3.4.0/yq_linux_amd64
          chmod +x ./bin/yq
          ./bin/yq w -i varnish-operator/Chart.yaml 'appVersion' $GITTAG
          ./bin/yq w -i varnish-operator/Chart.yaml 'version' $GITTAG
          ./bin/yq w -i varnish-operator/values.yaml 'container.image' $(./bin/yq r varnish-operator/values.yaml 'container.image' | sed "s/:.*/:$GITTAG/")
          ./bin/yq w -i config/samples/varnishcluster.yaml 'spec.varnish.image' $(./bin/yq r config/samples/varnishcluster.yaml 'spec.varnish.image' | sed "s/:.*/:$GITTAG/")
          ./bin/yq w -i config/samples/varnishcluster.yaml 'spec.varnish.controller.image' $(./bin/yq r config/samples/varnishcluster.yaml 'spec.varnish.controller.image' | sed "s/:.*/:$GITTAG/")
          ./bin/yq w -i config/samples/varnishcluster.yaml 'spec.varnish.metricsExporter.image' $(./bin/yq r config/samples/varnishcluster.yaml 'spec.varnish.metricsExporter.image' | sed "s/:.*/:$GITTAG/")
      - name: Package chart
        run: |
          git config --global user.email ""
          git config --global user.name "Github Actions CI"
          ./bin/helm init --client-only
          ./bin/helm package varnish-operator --app-version ${GITHUB_REF##*/} --version ${GITHUB_REF##*/} --destination helm-releases
          helm repo index helm-releases --url https://ibm.github.io/varnish-operator/master/helm-releases
          git add helm-releases/*
          git commit -a -m "Release ${GITHUB_REF##*/}"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:main
