name: Helm Chart

env:
  HELM2_VERSION: "v2.17.0"
  HELM3_VERSION: "v3.5.2"

on:
  release:
    types:
      - created
  push: {}

jobs:
  helm-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install Helm3
        run: |
          echo "$(pwd)"
          curl -Lo ./helm.tar.gz https://get.helm.sh/helm-$HELM3_VERSION-linux-amd64.tar.gz
          mkdir -p bin
          tar -zxvf ./helm.tar.gz && sudo mv linux-amd64/helm /usr/local/bin/helm
          sudo chmod +x /usr/local/bin/helm
          rm -rf helm.tar.gz linux-amd64/
      - name: Helm3 lint
        run: |
          helm lint varnish-operator
      - name: Helm3 Uninstall
        run: |
          sudo rm -rf /usr/local/bin/helm
      - name: Install Helm2
        run: |
          curl -Lo ./helm.tar.gz https://get.helm.sh/helm-$HELM2_VERSION-linux-amd64.tar.gz
          mkdir -p bin
          tar -zxvf ./helm.tar.gz && sudo mv linux-amd64/helm /usr/local/bin/helm
          sudo chmod +x /usr/local/bin/helm
          sudo rm -rf helm.tar.gz linux-amd64
      - name: Helm lint
        run: helm lint varnish-operator
      - name: Ensure helm-releases folder exists
        run: mkdir -p helm-releases
      - name: Get version
        id: get_version
        run: |
          if [ ${{ github.event_name }} == 'release' ]; then
            echo "VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV
          else
            echo "VERSION=v0.0.0-${GITHUB_REF##*/}" >> $GITHUB_ENV
          fi
      - name: Change versions
        run: |
          curl -Lo ./bin/yq https://github.com/mikefarah/yq/releases/download/3.4.1/yq_linux_amd64
          chmod +x ./bin/yq
          ./bin/yq w -i varnish-operator/Chart.yaml 'appVersion' $VERSION
          ./bin/yq w -i varnish-operator/Chart.yaml 'version' $VERSION
          ./bin/yq w -i varnish-operator/values.yaml 'container.image' $(./bin/yq r varnish-operator/values.yaml 'container.image' | sed "s/:.*/:$VERSION/")
          ./bin/yq w -i config/samples/varnishcluster.yaml 'spec.varnish.image' $(./bin/yq r config/samples/varnishcluster.yaml 'spec.varnish.image' | sed "s/:.*/:$VERSION/")
          ./bin/yq w -i config/samples/varnishcluster.yaml 'spec.varnish.controller.image' $(./bin/yq r config/samples/varnishcluster.yaml 'spec.varnish.controller.image' | sed "s/:.*/:$VERSION/")
          ./bin/yq w -i config/samples/varnishcluster.yaml 'spec.varnish.metricsExporter.image' $(./bin/yq r config/samples/varnishcluster.yaml 'spec.varnish.metricsExporter.image' | sed "s/:.*/:$VERSION/")
      - name: Package chart
        run: |
          git config --global user.email ""
          git config --global user.name "Github Actions CI"
          helm init --client-only
          helm package varnish-operator --app-version $VERSION --version $VERSION --destination helm-releases
          helm repo index helm-releases --url https://raw.githubusercontent.com/IBM/varnish-operator/main/helm-releases
          git add helm-releases/*
          git commit -a -m "Release $VERSION"
      - name: Push chart
        if: ${{ github.event_name == 'release' && github.event.action == 'created' }}
        run: git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:main
